%div{class: "container main-container"}
  %div{class: "row"}
    %div{class: "index-peictt"}
      %div
        %h1{style: "text-transform: uppercase", class: "twelve columns"}
          %p
            %i{class: "fa fa-thumbs-o-up", style: "color: gray"}
          %span{class: "p"}P
          %span{class: "e"}e
          %span{class: "i"}i
          %span{class: "c"}c
          %span{class: "t-1"}t
          %span{class: "t-2"}t
        %p
          %em
            This is the default homepage.
            %br
            Feel free to customise to suit you
