.index-header {
  font-weight: 200;
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 70px;
}

.top-nav li {
  display: inline;;
  margin: 0 5px;
  padding: 0;
}

.main-container {
  min-height: 62vh;
}

.index-peictt {
  display: flex;
  min-height: 440px;
  border: 1px solid #ececec;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.index-peictt > div > h1 {
  letter-spacing: -.6rem;
  font-size: 7rem;
  text-align: center;
}

.index-peictt > div > p {
  text-align: center;
}

.p, .t-1 { color: rgba(222, 4, 27, 0.5); }

.e { color: rgba(255, 0, 95, 0.5); }

.i { color: rgba(140, 195, 87, 0.5); }

.c { color: rgba(28, 61, 245, 0.5); }

.t-2 { color: rgba(255, 0, 145, 0.5); }

.task-title-link {
  text-decoration: none;
  color: rgba(0,0,0,0.8)
}
